.food-item-container{
    transition: 0.3s;
    animation: fadeIn 1s
}

.food-item-name-rating img{
    width: 70px;
}

.food-item-desc{
    color: #676767;
    font-size: 12px;
}

.food-item-price{
    color: tomato;
    font-size: 20px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add-button{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 35px;
    cursor: pointer;
    border-radius: 50px ;

}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
    
}

.food-item-counter img{
    width: 25px;
}